<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BioSearch</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
    <servlet>
		<servlet-name>instance</servlet-name>
		<servlet-class>cn.edu.nju.ws.biosearch.servlet.Instance</servlet-class>	
	</servlet>
	
    <servlet-mapping>
		<servlet-name>instance</servlet-name>
		<url-pattern>/instance</url-pattern>
	</servlet-mapping> 

	<servlet>
		<servlet-name>search</servlet-name>
		<servlet-class>cn.edu.nju.ws.biosearch.servlet.Search</servlet-class>	
	</servlet>
	
    <servlet-mapping>
		<servlet-name>search</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping> 

	<servlet>
		<servlet-name>listClassesAndProperties</servlet-name>
		<servlet-class>cn.edu.nju.ws.biosearch.servlet.ListClassesAndProperties</servlet-class>	
	</servlet>
	
    <servlet-mapping>
		<servlet-name>listClassesAndProperties</servlet-name>
		<url-pattern>/listClassesAndProperties</url-pattern>
	</servlet-mapping> 

</web-app>





  
